@charset "utf-8";

html { font-size: 20px;}
body { font-size: 1rem;}

header {
    background: #f6f5ef;
}

header > div {
    width: 54.5rem;
    margin: 0 auto;
}

header > div h1 {
    float: left;
}

header > div nav {
    float: right;
}